@model GTD.Models.Plano

@{
    ViewData["Title"] = "Edit";
}

<div class="main">
    <div class="indicador">
        <h2>Editando plano</h2>
    </div>

    <div class="erro">
        @Html.ValidationSummary()
        @if (ViewBag.Erro != null)
        {
            <p>@ViewBag.Erro</p>

        }
    </div>

    <form asp-action="Edit" class="frm wide">
        <div asp-validation-summary="ModelOnly" class="erro"></div>

        <input type="hidden" asp-for="PlanoID" />

        <input asp-for="PlanoNome" class="form-control huge" placeholder="Nome do Plano" />
        <span asp-validation-for="PlanoNome" class="text-danger"></span>

        <label asp-for="SemanaInicio"></label>
        <input asp-for="SemanaInicio" class="form-control huge" placeholder="Data de Início" />
        <span asp-validation-for="SemanaInicio" class="text-danger"></span>

        <input asp-for="Duracao" class="form-control huge" placeholder="Duração em Semanas" />
        <span asp-validation-for="Duracao" class="text-danger"></span>

        <label class="form-check-label">
            <input class="form-check-input" asp-for="Selecionado" /> Selecionar como plano principal
        </label>

        <label class="form-check-label">
            <input class="form-check-input" asp-for="Completo" /> @Html.DisplayNameFor(model => model.Completo)
        </label>

        <div class="linha">
            <label asp-for="TreinoID" class="control-label"></label>
            <select asp-for="TreinoID" class="form-control" asp-items="@(new SelectList(ViewBag.Treinos, "TreinoID", "TreinoNome"))"></select>
            <span asp-validation-for="TreinoID" class="text-danger"></span>
        </div>
        <div class="linha">
            <label asp-for="DietaID" class="control-label"></label>
            <select asp-for="DietaID" class="form-control" asp-items="@(new SelectList(ViewBag.Dietas, "DietaID", "DietaNome"))"></select>
            <span asp-validation-for="TreinoID" class="text-danger"></span>
        </div>

        <div class="linha">
            <input type="submit" value="Salvar" class="bot" id="btnSave" name="salvar" />
            <button type="button" class="bot bot-back" onClick="javascript:history.go(-1)">Voltar</button>
        </div>
    </form>

</div>

<script src="~/js/textValidator.js" asp-append-version="true"></script>
@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
