@inject Microsoft.AspNetCore.Identity.SignInManager<GTD.Models.Infra.ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<GTD.Models.Infra.ApplicationUser> UserManager

@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat|Material+Icons" />
    <link rel="stylesheet" href="~/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>
    <nav class="pink accent-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" asp-controller="Home" asp-action="Index" class="brand-logo"><img class="logo" src="~/img/logo real.png"></a>
            <ul class="right hide-on-med-and-down">
                <li><a asp-controller="Diario" asp-action="Index">Diário</a></li>
                <li><a asp-controller="Plano" asp-action="Index">Planos</a></li>
                <li><a asp-controller="Treino" asp-action="Index">Treinos</a></li>
                <li><a asp-controller="Dieta" asp-action="Index">Dietas</a></li>
                <li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <!-- a class="btn" asp-controller="Infra" asp-action="Logout" rel="modal:open"-->
                        <span class="email"> @UserManager.GetUserName(User)</span>
                        <!--a -->
                        <a class="btn grey darken-3" asp-controller="Infra" asp-action="Logout">
                            <i class="material-icons">exit_to_app</i>
                        </a>
                    }
                    else
                    {
                        <a class="btn grey darken-3" asp-controller="Infra" asp-action="Login">
                            Log in
                        </a>
                        <a class="btn grey darken-3" asp-controller="Infra" asp-action="Register">
                            Registrar
                        </a>
                    }
                </li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a asp-controller="Diario" asp-action="Index">Diário</a></li>
                <li><a asp-controller="Plano" asp-action="Index">Planos</a></li>
                <li><a asp-controller="Treino" asp-action="Index">Treinos</a></li>
                <li><a asp-controller="Dieta" asp-action="Index">Dietas</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <!-- a class="btn" asp-controller="Infra" asp-action="Logout" rel="modal:open"-->
                    <span class="email"> @UserManager.GetUserName(User)</span>
                    <a class="btn grey darken-3" asp-controller="Infra" asp-action="Logout">
                        <i class="material-icons">exit_to_app</i>

                    </a>
                }
                else
                {
                    <a class="btn grey darken-3" asp-controller="Infra" asp-action="Login">
                        Log in
                    </a>
                    <a class="btn grey darken-3" asp-controller="Infra" asp-action="Register">
                        Registrar
                    </a>
                }
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/materialize.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/diario.js" asp-append-version="true"></script>
    <script>M.AutoInit();</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
