@model GTD.ViewModels.DietaSemanaViewModel

@{
    ViewData["Title"] = "Criar Nova Dieta";
}
<div id="modal_help" class="modal">
    <div class="modal-content">
        <partial name="~/Views/Shared/_Formato.cshtml" class="mb" />
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>

<div class="section"></div>
<main>
    <center>
        <h5 class="blue-grey-text">Criando nova dieta</h5>
        <div class="section">
            @Html.ValidationSummary()
            @if (ViewBag.Erro != null)
            {
                <p>@ViewBag.Erro</p>

            }
        </div>

        <div class="container">
            <div class="blue-grey lighten-5 row" style="padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form asp-action="Create" class="frm wide">
                    @*<input type="hidden" asp-for="DietaID" />*@
                    <div class='row'>
                        <div class='col s12'>
                            <div asp-validation-summary="All" class="erro"></div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <label>Dieta para a semana</label>
                            <input asp-for="SemanaID" class="form-control huge" value="@ViewBag.Semana" id="semana" disabled />
                            <input type="hidden" asp-for="SemanaID" value="@ViewBag.Semana" />
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' asp-for="DietaNome" />
                            <label for='DietaNome'>Nome da Dieta</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='date' asp-for="DataDieta" />
                            <label for='DataDieta'>Data de início</label>
                        </div>
                    </div>

                    <label>
                        <input type="checkbox" asp-for="Completo" />
                        <span>@Html.DisplayNameFor(model => model.Completo)</span>
                    </label>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textareaMd" class="materialize-textarea" asp-for="Texto"></textarea>
                            <label for="Texto">Escreva a sua dieta seguindo o formato abaixo</label>
                            <span class="helper-text">
                                <a class="waves-effect waves-light btn modal-trigger grey darken-3" href="#modal_help">
                                    <i class="material-icons">mode_comment</i>
                                </a>
                                Ajuda com o formato.
                            </span>
                        </div>
                    </div>

                    <br />
                    <center>
                        <div class='row'>
                            <div class="col s12 m4">
                                <input type="submit" value="Próxima Semana" class="btn btn-large grey" id="btnNext" name="salvar" />
                            </div>
                            <div class="col s12 m4">
                                <input type="submit" value="Salvar" class="btn btn-large green" id="btnSave" name="salvar" />
                            </div>
                            <div class="col s12 m4">
                                <button type="button" class="btn btn-large blue" onClick="javascript:history.go(-1)">Voltar</button>
                            </div>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>

<script src="~/js/textValidator.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}