@model IEnumerable<GTD.Models.Dieta>

@{
    ViewData["Title"] = "Lista de Dietas";
}

<div class="main">
    <div class="indicador">
        <h2>Todas as Dietas</h2>
        <a asp-action="Create" class="criar-novo">
            <span class="icone criar"></span>
        </a>
    </div>

    @* modal insana meu deus não sei como isso funciona *@
    <div id="deleteModal" class="modal">
        <form class="frm" id="formModal" method="post">
            <h3>Tem certeza que deseja deletar a Dieta</h3>
            <input type="hidden" id="hiddenid" />
            <input type="text" id="hidden-name" disabled />
            <div class="linha">
                <input type="submit" value="Deletar" class="bot bot-alert" />                
                <a href="#" rel="modal:close" class="bot bot-back">Cancelar</a>
            </div>
        </form>
    </div>

    <table class="table-fill">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DietaNome)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Duracao)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DataDieta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Completo)
                </th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            @foreach (var item in Model)
            {
                <tr>
                    <td data-href="@Url.Action("Details", "Dieta", new { id = item.DietaID })">
                        @Html.DisplayFor(modelItem => item.DietaNome)
                    </td>
                    @*<td data-href="@Url.Action("Details", "Dieta", new { id = item.DietaID })">
                        @Html.DisplayFor(modelItem => item.Duracao)
                    </td>*@
                    <td data-href="@Url.Action("Details", "Dieta", new { id = item.DietaID })">
                        @Html.DisplayFor(modelItem => item.DataDieta)
                    </td>
                    <td data-href="@Url.Action("Details", "Dieta", new { id = item.DietaID })">
                        @Html.DisplayFor(modelItem => item.Completo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DietaID"><span class="icone editar"></span></a>
                        @*<a asp-action="Details" asp-route-id="@item.PlanoID">Details</a> |*@
                        <a href="#deleteModal" rel="modal:open" id="abre-mol"
                           data-route="/Dieta/Delete/@item.DietaID" data-id=@item.DietaID data-name="@item.DietaNome">
                            <span class="icone deletar"></span>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>